<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://yt3.ggpht.com/a/AATXAJzRVWZuOAPkPB3e-oQXUb9NZWcaxXB6102H_rFbtg=s900-c-k-c0xffffffff-no-rj-mo" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/index.css">
    <title>{{title}}</title>
</head>