<form action="/create" method="POST">
    <h2>Create</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>
    <button type="submit" class="btn" style="background-color: #4caf50";>Create</button>
</form>


